:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

body,
html {
    height: 100%;
}

canvas {
    height: 100%;
    width: 100%;
    outline: none;

    background-color: #000;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


/*
    <label for="body-search">
        Search for a celestial body
    </label>
    <input id="body-search">
 */

canvas {
    height: 100%;
    width: 100%;
    outline: none;
    background-color: #000;
    pointer-events: auto; /* Allows the canvas to receive pointer events */
}

#gui-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; /* Ensure it is above other elements */
}

.over-canvas {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    pointer-events: none;

    * {
        pointer-events: all;
    }
}

.similarities {
    position: absolute;
    width: 20rem;
    top: 0;
    right: 0;
    padding: 0.5em;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 0 0 0 1rem;
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    margin: 0.5em 0;
}

.dropdown-item {
    cursor: pointer;
}

.selected {
    color: #01e7e7;
}

.search-bar {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;

    width: 98%;
}

.similarities-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.similarities-list {
    overflow-y: auto;
    max-height: 87vh;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 10px;
    display: grid;
    gap: 0.5em;
}

#current-time-text {
    position: absolute;
    font-size: 2rem;
    padding: 0.5em;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.current-time{
    animation: fadeOut 500ms 2s forwards;
    pointer-events: none;
    * {
        pointer-events: none;
    }
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/*
    time slider bottom left

      <div class="time-slider">
        <p>x1</p>
        <input type="range" id="time-slider" min="0" max="100" value="50" class="slider" />
      </div>
 */

.time-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 0 1rem 0 0;
    width: 15rem;
}

.time-slider p {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
}

  .slider{
    width: 100%;
    height: 1.5em;
    margin-top: 0.5em;
  }
